@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Poppins' ;
}

:root {
  --text: #050505;
  --background: #fafafa;
  --primary: #134085;
  --secondary: #85abf1;
  --accent: #d22d8a;
  --grayshades: #6d6d78;
  --btnwidth:120px;
  --btnheight:38px;
  --btnborderRadiusBtn:5px;
}
